.mat-sort-header-container {
    align-items: center;
    justify-content: center;
}

.table-container {
    text-align: center;
    margin-top: 15px;
    max-height: 184px;
    overflow: auto;
    max-width: 60%;
    margin-left: 20%;
    position: relative;
}

th {
    background-color: #198754;
    color: white;
    display: table;
    position: sticky;
    top: 0;
    z-index: 1;
}


th::before, th::after {
    background-color: #198754;
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    border: 2px solid white;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #198754;
    display: table;
}

tr {
    background-color: #f2f2f2;
    border: 2px solid #198754;
    display: table-row;
}


.header-row th {
    background-color: #198754;
    color: white;
    border: 2px solid #198754;
    display: table-cell;
}

.header-row th:first-child {
    border-right: 2px solid white;
}

.header-row th:nth-child(2) {
    border-right: 2px solid white;
    border-left: 2px solid white; 
}

.header-row th:last-child {
    border-left: 2px solid white;
    width: 20px;
}

.chart-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    flex-wrap: wrap;
    padding-top: 40px;
  }
  
  canvasjs-chart {
    flex: 1; /* This will make each chart take up 50% of the container width */
  }

td:last-child {
    max-width: 7px;
}

mat-icon {
    top: 3px;
    display: table-cell;
    cursor: pointer;
    width: 35px;
    color: black;
}

::ng-deep .mat-tooltip {
    background-color: #198754;
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 6px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 1.5px solid #198754;
}

::ng-deep .mat-sort-header-arrow {
    color: white;
  }

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
