.mat-sort-header-container {
    align-items: center;
    justify-content: center;
}

.table-container {
    text-align: center;
    margin-top: 15px;
    max-height: 184px;
    overflow: auto;
    max-width: 60%;
    margin-left: 20%;
}

table {
    border-collapse: collapse;
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border: 2px solid #198754;
    display: table;
}

tr {
    background-color: #f2f2f2;
    border: 2px solid #198754;
    display: table-row;
}


.header-row th {
    background-color: #198754;
    color: white;
    border: 2px solid #198754;
    display: table-cell;
}

.header-row th:first-child {
    border-right: 2px solid white; /* Right border of the first th */
}

.header-row th:last-child {
    border-left: 2px solid white; /* Left border of the last th */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 2px solid #198754;
}

::ng-deep .mat-sort-header-arrow {
    color: white;
  }

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
