    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a [routerLink]="['/storage']">Minden</a>
            </li>
            <li>
                <a [routerLink]="['/food-storage']">Élelmiszerek</a>
            </li>
            <li>
                <a [routerLink]="['/bathroom-storage']">Fürdőszoba</a>
            </li>
            <li>
                <a [routerLink]="['/cleaning-storage']">Takarítás</a>
            </li>
        </ul>
    </div>