    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <!--<a [routerLink]="['/storage']">Minden</a>-->
                <a>Minden</a>
            </li>
            <li>
                <!--<a [routerLink]="['/food-storage']">Élelmiszerek</a>-->
                <a>Élelmiszerek</a>
            </li>
            <li>
                <!--<a [routerLink]="['/bathroom-storage']">Fürdőszoba</a>-->
                <a>Fürdőszoba</a>
            </li>
            <li>
                <!--<a [routerLink]="['/cleaning-storage']">Takarítás</a>-->
                <a>Takarítás</a>
            </li>
        </ul>
    </div>