<section class="section-products">
        <div class="container">
                <div class="ul_checkbox">
                        <ul>
                                <input class="search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Keresés">    
                                <li>
                                        <input class="pipa" type="checkbox" [(ngModel)]="filter.food" (ngModelChange)="filterChange()" /> Élelmiszer 
                                        <input class="pipa" type="checkbox" [(ngModel)]="filter.bathroom" (ngModelChange)="filterChange()" /> Fürdőszoba 
                                        <input class="pipa" type="checkbox" [(ngModel)]="filter.cleaning" (ngModelChange)="filterChange()" /> Takarítás
                                </li>
                        </ul>
                </div>
        </div>
        <button routerLink="/storage-item-add">Elem hozzáadása</button>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-xl-2 kepmid" *ngFor="let product of filteredProducts | filter:searchText; let i = index">
                        <div id="product-1" class="single-product">
                                <div class="part-1">    
                                        <div class="part-2" class="col-md-8 col-lg-6 tower">
                                                <div class="product-image-wrapper">
                                                    <img class="product-image eiffel" src="{{ product.image_url }}" alt="Product Image"/>
                                                    <mat-icon (click)="getProductsId(product)" class="icon-hidden">open_in_new</mat-icon>
                                                </div>
                                                <h3 class="product-title">{{ product.title }}</h3>
                                                <h3 class="product-title">{{ product.quantity }} {{ product.unit }}</h3>
                                        </div> 
                                </div>
                        </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>