<bs-sidebar></bs-sidebar>
<section class="section-products">
        <button routerLink="/storage-item-add">Elem hozzáadása</button>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a (click)="getProductsId(product)"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                </div>
                                <div class="part-2" class="col-md-8 col-lg-6">
                                        <h3 class="product-title">{{ product.title }}</h3>
                                        <h3 class="product-title">{{ product.quantity}} {{product.unit}}</h3>
                                </div>
                        </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>