@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container-fluid {
    margin-top: 50px;
}

.container {
    margin-left: 0px;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    overflow-x: hidden;
}

h3 {
    padding-top: 10px;
    font-size: 25px;
}

.section-products {
    padding: 10px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
    text-align: center;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 315px;
    max-height: 315px;
    margin-bottom: 10px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background-size: cover;
    transition: all 0.3s;
  }

.product-image {
    width: auto;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

  }  

.kepmid {
    margin-left: 15px;
    margin-right: 15px;
}

.eiffel {
    height: 230px;
}
.tower {
    height: 100px;
}
.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}


.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}


.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    border-top: 100px;
}

.section-products .single-product .part-2 h4 {
    display:inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

h3, h4 {
    width: 249.5px;
}

.search {
    margin-right: 320px;
    border: 3px solid #198754;
    width: 300px;
    outline: none;
}

.pipa {
    border-width: 3px;
    border-color: black;
    margin-bottom: 50px;
    height: 15px;
    width: 15px;
}
input:checked {
    accent-color: #198754;
}

button {
    float: right;
    margin: 5px 20px 0px;
    border-radius: 8px;
    background-color: #198754;
    border: none;
    font-size: 19px;
    color: white;
    cursor:pointer;
}

.ul_checkbox {
    margin-left: 0;
}

.ul_checkbox ul {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}
.ul_checkbox ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 19px;
    height: 0px;
}
ul,li {
    height: 0px;
    padding: 0px;
    font-size: 19px;
}

.product-image-wrapper {
    position: relative;
    transition: transform 0.3s;
}

.product-image-wrapper:hover {
    transform: scale(1) rotate(4deg);
}

.product-image-wrapper img {
    display: block;
    object-fit: contain;
    position: relative;
}

.product-image-wrapper .icon-hidden {
    position: absolute;
    top: 5px;
    left: 30%;
    font-size: 24px;
    z-index: 1;
    color:white;
    cursor: pointer;
    background-color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    opacity: 0;
    transition: transform 0.3s, visibility 0.3s;
}

.product-image-wrapper:hover .icon-hidden {
    transform: translateY(185px);
    opacity: 1;
}
