button {
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 41%;
    margin-bottom: 15px;
    
}
.mat-divider {
    border-top-color: black;
    border-top-width: 4px;
    width: 100%;
}
.indent {
    text-indent: 30px;
}
p {
    font-weight: bold;
}
.mat-card-header {   
    justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
}
.mat-card {
    padding-bottom: 0px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.color {
    background-color: #198754;
    color: white;
}
.element {
    display: inline-block;
    width: 50%;
    height: 70px;
    text-align: center;
    
}
.top {
    margin-top: 35px;
}
.mat-card-header .mat-card-title {
    font-size: 30px;
}
.dashboard-card-content {
    font-size: 16px;
}