div {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
span {
    padding: 5px 5px 15px 5px;
}

mat-form-field {
    width: 30%;
}

mat-icon {
    vertical-align: -6px;
    padding-right: 30px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

