<!--<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>-->

<div class="centered-container">
    <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <mat-label for="email">E-mail-cím: </mat-label><input matInput type="text" [formControl]="email" required (input)="checkNameFields()"/>
    </mat-form-field>
    <span *ngIf="email.value.length === 0 && email?.touched" class="text-danger"> E-mail-cím megadása kötelező!</span>
    <span class="error text-danger"  *ngIf="email?.invalid && email?.touched && email.value.length > 0">Az e-mail-cím érvénytelen!</span>
    <mat-form-field>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <mat-label for="password">Jelszó: </mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" minlength="1" [formControl]="password" required (input)="checkNameFields()"/>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
    </mat-form-field>
    <span *ngIf="password.value.length === 0 && password?.touched" class="text-danger"> Jelszó megadása kötelező!</span>
    <span *ngIf="password.value.length >= 1 && password.value.length <= 5 && password?.touched" class="text-danger"> Jelszónak minimum 6 karakter hosszúnak kell lenni!</span>
    <span>
        <span><button mat-raised-button class="btn btn-success" (click)="loginnew()" [disabled]="!registrationAllowed">Belépés</button></span>
        <span><button mat-raised-button class="btn btn-success" [routerLink]="'/signup'">Regisztráció</button></span>
    </span>
</div>