.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  form div {
    padding: 15px 5px 5px 5px;
  }

  mat-icon {
    vertical-align: -6px;
}

/* Style for the currency input wrapper */
.currency-input-wrapper {
    display: flex;
    align-items: center;
  }
  
  /* Style for the "HUF" label */
  .currency-label {
    margin-top: 4px;
    flex: 0 0 auto;
    margin-left: 2px; /* Adjust the margin as needed */
  }
  
  /* Style for the input field */
  .line {
    flex: 1;
  }

  .line:valid + .currency-label {
    display: inline;
  }
  
  form {
    display: inline-grid;
    width: 50%;
    align-self: center;
  }
  
  .subForm {
    width: 100%;
    display: inline-grid;
  }
  
  .buttons {
    padding: 5px;
  }
  
  button {
    width: 170px;
    background-color: #198754;
    color: white;
    font-size: 18px;
    width: 200px;
    height: 40px;
  }
  
  .line {
    padding-top: 4.5px;
    padding-bottom: 0px;
  }
  
  .element {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  
  .vl {
    border-left: 2px solid black;
    height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 100%;
  }
  
  .middle {
    text-align: center;
    color: red;
  }
  
  .error {
    display: flex;
    width: 50%;
    text-align: center;
    color: red;
  }
  
  .move {
    display: inline-flex;
  }
  
  .color {
    color: gray;
  }