body {
    background: url(../../shared/images/home.jpg) top right no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 98vw;
    height: 92vh;
    overflow: hidden;
}