caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #198754;
}

body {
    background-image: url(../../shared/images/grocery-list.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow: hidden;
    height: 659px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    width: 50%;
    padding-top: 100px;
    margin-left: 400px;
}

.visible {
    font-weight: bold;
}

.scroll {
    max-height: 333px;
    overflow: auto;
}

tr {
    border: 2px solid black;
}

.halfone {
    max-width: 50%;
}

.halftwo {
    width: 50%;
}

.pozicio {
    display: flex;
}


::ng-deep .mat-tooltip {
    background-color: #198754;
    font-size: 14px;
    padding: 3px 12px;
    border-radius: 3px;
    cursor: pointer;
}

mat-icon {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: lightgray; 
}

.checked-text {
    text-decoration: line-through;
    color: gray; 
}

input[type="checkbox"] {
    transform: scale(1.4);
    margin-top: 6px;
    accent-color: #198754;
}

input[type="number"] {
    transform: scale(1); 
    margin-left: 70px;
}

input[type="checkbox"]:checked {
    border-color: #198754;
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 3px;
}

.tr-bg-even {
    background-color: lightgray; 
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}

.valtoztatasikon {
    margin-bottom: 3px;
    vertical-align: middle;
    color: #198754;
    margin-top: 2px;
}

.szamok {
    width: 60px;
}

.icon-container {
    display: flex; 
    justify-content: flex-end;
}

button {
    text-align: center;
    border: none;
    color: black;
    background-color: rgb(233, 28, 28);
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 75px;
}

.noborder {
    border: none;
}
